.postercenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 125px;
}

body {
font-size: large !important;
}

navbar-brand {
    font-size: 18px !important;
}

@media (min-width: 100px) {
    .navbar-brand {
        font-size: 15px !important;
    }
}

@media (min-width: 768px) {
    .navbar-brand {
        font-size: 18px !important;
    }
}

@media (min-width: 992px) {
    .navbar-brand {
        font-size: 18px !important;
    }
}

@media (min-width: 1200px) {
    .navbar-brand {
        font-size: 18px !important;
    }
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: white !important;
    font-family: Calibri !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover{
    background-color:rgb(4,44,80) !important;
}


.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: rgb(4,44,80) !important;
}

.navbar-inverse{
    background-color:rgb(4,44,80) !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: white !important;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: rgb(4,44,80) !important;
    color: white !important;
}

.dropdown-menu>li>a:hover {
background-color:rgb(4,44,80) !important;
color:white !important;
}

.dropdown-menu>li>a {
color:white !important;
}

.dropdown-menu{
background-color:rgb(4,44,80) !important;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.text-justify {
    text-align: justify;
}

p {
    text-align: justify;
    color: rgb(4,44,80);
}

.caption {
    text-align: center !important;
}

.carousel-caption{
  color: black !important;
}

pfoot {
    color:rgb(4,44,80);
}

pwhite {
    color: white !important;
}

ul {
    color: rgb(4,44,80) !important;
}

ol {
    color: rgb(4,44,80) !important;
}

h2, h4 {
    color: rgb(4,44,80) !important;
}

h4 {
    padding-left: 15px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.responsive-image {
    height: 500px !important;
    width: 100%;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 0.75rem;
}

.card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link:hover {
    text-decoration: none;
}

.card-link + .card-link {
    margin-left: 1.25rem;
}

.card > .list-group:first-child .list-group-item:first-child {
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #FBFBFB;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #FBFBFB;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
   border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0;
}

.card-header-pills {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
}

.card-primary {
    background-color: #1E7BB4;
    border-color: #1E7BB4;
}

.card-primary .card-header,
.card-primary .card-footer {
    background-color: transparent;
}

.card-success {
    background-color: #40bb6a;
    border-color: #40bb6a;
}

.card-success .card-header,
.card-success .card-footer {
    background-color: transparent;
}

.card-info {
    background-color: #4bacda;
    border-color: #4bacda;
}

.card-info .card-header,
.card-info .card-footer {
    background-color: transparent;
}

.card-warning {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.card-warning .card-header,
.card-warning .card-footer {
    background-color: transparent;
}

.card-danger {
    background-color: #e02130;
    border-color: #e02130;
}

.card-danger .card-header,
.card-danger .card-footer {
    background-color: transparent;
}

.card-outline-primary {
    background-color: transparent;
    border-color: #DD2E2E;
}

.card-outline-secondary {
    background-color: transparent;
    border-color: #ccc;
}

.card-outline-info {
    background-color: transparent;
    border-color: #4bacda;
}

.card-outline-success {
    background-color: transparent;
    border-color: #40bb6a;
}

.card-outline-warning {
    background-color: transparent;
    border-color: #f0ad4e;
}

.card-outline-danger {
    background-color: transparent;
    border-color: #e02130;
}

.card-inverse {
    color: rgba(255, 255, 255, 0.65);
}

.card-inverse .card-header,
.card-inverse .card-footer {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.2);
}

.card-inverse .card-header,
.card-inverse .card-footer,
.card-inverse .card-title,
.card-inverse .card-blockquote {
    color: #fff;
}

.card-inverse .card-link,
.card-inverse .card-text,
.card-inverse .card-subtitle,
.card-inverse .card-blockquote .blockquote-footer {
    color: rgba(255, 255, 255, 0.65);
}

.card-inverse .card-link:focus, .card-inverse .card-link:hover {
    color: #fff;
}

.card-blockquote {
    padding: 0;
    margin-bottom: 0;
    border-left: 0;
}

.card-img {
    border-radius: calc(0.25rem - 1px);
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}

.card-img-top {
    border-top-right-radius: calc(0.25rem - 1px);
    border-top-left-radius: calc(0.25rem - 1px);
}

.card-img-bottom {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

@media (min-width: 576px) {
.card-deck {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.card-deck .card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0%;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card-deck .card:not(:first-child) {
    margin-left: 15px;
}

.card-deck .card:not(:last-child) {
    margin-right: 15px;
}
}

@media (min-width: 576px) {
.card-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.card-group .card {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0%;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
}

.card-group .card + .card {
    margin-left: 0;
    border-left: 0;
}

.card-group .card:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.card-group .card:first-child .card-img-top {
    border-top-right-radius: 0;
}

.card-group .card:first-child .card-img-bottom {
      border-bottom-right-radius: 0;
}

.card-group .card:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
}

.card-group .card:last-child .card-img-top {
      border-top-left-radius: 0;
}

.card-group .card:last-child .card-img-bottom {
      border-bottom-left-radius: 0;
}

.card-group .card:not(:first-child):not(:last-child) {
      border-radius: 0;
}

.card-group .card:not(:first-child):not(:last-child) .card-img-top,
.card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
      border-radius: 0;
}
}

@media (min-width: 576px) {
.card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
}

.card-columns .card {
    display: inline-block;
    width: 100%;
    margin-bottom: 0.75rem;
}
}

.pb-2 {
    padding-bottom: 0.5rem !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.portrait-small {
    object-fit: contain;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: white;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}

a.text:link {color:white;}
a.text:visited {color:white;}
a.text:hover {color:white;}
a.text:active {color:white;}

.footerlogo {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centerfootertext {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.business-card {
  border: 1px solid #cccccc;
  background: #f8f8f8;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.profile-img {
  height: 120px;
  background: white;
}

.job {
  color: #666666;
  font-size: 17px;
}

.mail {
  font-size: 16px;
 }
